<div id="t5eah-equipmentTab">
  <header class="t5eah-equipment-header">
    <h4>{{equipment.windowTitle}}</h4>
  </header>
  <div class="t5eah-equipment-body">
    <section id="bodySets">
      <header>
        <h1>Equipment on Body</h1>
      </header>
      <div class="wrapper">
        {{#each equipment.bodySet}}
          <div class="setContainer {{equipState}}" data-type="bodySet" data-set="{{@index}}">
            <h2><!-- auto count --></h2>
            <ul class="bodySet">
              {{#each set}}
                <li class="itemSlot {{slotType}} {{slotState}}">
                  <div class="item" draggable="true" data-slot="{{slotType}}" data-id="{{itemId}}" style="background-image: url({{itemImage}});">
                    <!-- background-image of equipped item -->
                  </div>
                  <span class="label">
                    <h3>{{slotName}}</h3>
                    <p>{{itemName}}</p>
                  </span>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/each}}
        {{!
        <div id="bodyPrimary" class="setContainer equipped">
          <h2>I</h2>
          <ul class="bodySet">
            <li class="itemSlot headwear empty">
              <div class="item" data-slot="body.primary.headwear" data-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Headwear</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
          </ul>
        </div>
    }}
      </div>
    </section>

    <section id="handSets">
      <header>
        <h1>Equipment in Hands</h1>
      </header>
      <div class="wrapper">

        {{#each equipment.handSet}}
        <div class="setContainer {{equipState}}" data-type="handSet" data-set="{{@index}}">
          <h2><!-- auto count --></h2>
          <ul class="handSet">
            {{#each set}}
            <li class="itemSlot {{slotType}} {{slotState}}">
              <div class="item" draggable="true" data-slot="{{slotType}}" data-id="{{itemId}}"
                style="background-image: url({{itemImage}});">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>{{slotName}}</h3>
                <p>{{itemName}}</p>
              </span>
            </li>
            {{/each}}
          </ul>
        </div>
        {{/each}}
{{!
        <div id="handSetA" class="setContainer equipped">
          <h2>I</h2>
          <ul class="handSet">
            <li class="itemSlot primary" data-slot="hands.handSetA.primary empty">
              <div class="item" data-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Primary Hand</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot secondary" data-slot="hands.handSetA.secondary empty">
              <div class="item" data-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Secondary Hand</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
          </ul>
        </div>
}}
      </div>
    </section>
  </div>
</div>