<div id="t5eah-equipmentTab">
  <header class="t5eah-equipment-header">
    <h4>Equipment Configuration</h4>
  </header>
  <div class="t5eah-equipment-body">
    <section id="bodySets">
      <header>
        <h1>Equipment on Body</h1>
      </header>
      <div class="wrapper">
        {{#each body}}
          <div id="{{bodyId}}" class="setContainer {{equipState}}">
            <h2>{{setCount}}</h2>
            <ul class="bodySet">
              {{#each bodySet}}
                <li class="itemSlot {{slotType}} {{slotState}}">
                  <div class="item" draggable="true" data-item-slot="{{slotData}}" data-item-id="{{itemId}}" style="background-image: url({{itemImage}});">
                    <!-- background-image of equipped item -->
                  </div>
                  <span class="label">
                    <h3>{{slotTitle}}</h3>
                    <p>{{itemInfo}}</p>
                  </span>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/each}}
        <div id="bodyPrimary" class="setContainer equipped">
          <h2>I</h2>
          <ul class="bodySet">
            <li class="itemSlot headwear empty">
              <div class="item" data-item-slot="body.primary.headwear" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Headwear</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot necklace empty">
              <div class="item" data-item-slot="body.primary.necklace" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Necklace</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot armor empty">
              <div class="item" data-item-slot="body.primary.armor" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Armor</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot back empty">
              <div class="item" data-item-slot="body.primary.back" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Cloak</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot bracers empty">
              <div class="item" data-item-slot="body.primary.bracers" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Bracers</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot gloves empty">
              <div class="item" data-item-slot="body.primary.gloves" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Gloves</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot belt empty">
              <div class="item" data-item-slot="body.primary.belt" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Belt</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot ringLeft empty">
              <div class="item" data-item-slot="body.primary.ringLeft" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Ring</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot boots empty">
              <div class="item" data-item-slot="body.primary.boots" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Boots</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot ringRight empty">
              <div class="item" data-item-slot="body.primary.ringRight" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Ring</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
          </ul>
        </div>
        <div id="bodySecondary" class="setContainer">
          <h2>II</h2>
          <ul class="bodySet">
            <li class="itemSlot headwear empty">
              <div class="item" data-item-slot="body.secondary.headwear" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Headwear</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot necklace empty">
              <div class="item" data-item-slot="body.secondary.necklace" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Necklace</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot armor empty">
              <div class="item" data-item-slot="body.secondary.armor" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Armor</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot back empty">
              <div class="item" data-item-slot="body.secondary.back" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Cloak</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot bracers empty">
              <div class="item" data-item-slot="body.secondary.bracers" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Bracers</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot gloves empty">
              <div class="item" data-item-slot="body.secondary.gloves" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Gloves</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot belt empty">
              <div class="item" data-item-slot="body.secondary.belt" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Belt</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot ringLeft empty">
              <div class="item" data-item-slot="body.secondary.ringLeft" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Ring</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot boots empty">
              <div class="item" data-item-slot="body.secondary.boots" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Boots</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot ringRight empty">
              <div class="item" data-item-slot="body.secondary.ringRight" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Ring</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section id="handSets">
      <header>
        <h1>Equipment in Hands</h1>
      </header>
      <div class="wrapper">

        {{#each hands}}
        <div id="{{handId}}" class="setContainer {{equipState}}">
          <h2>{{setCount}}</h2>
          <ul class="handSet">
            {{#each handSet}}
            <li class="itemSlot {{slotType}} {{slotState}}">
              <div class="item" draggable="true" data-item-slot="{{slotData}}" data-item-id="{{itemId}}"
                style="background-image: url({{itemImage}});">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>{{slotTitle}}</h3>
                <p>{{itemInfo}}</p>
              </span>
            </li>
            {{/each}}
          </ul>
        </div>
        {{/each}}

        <div id="handSetA" class="setContainer equipped">
          <h2>I</h2>
          <ul class="handSet">
            <li class="itemSlot primary" data-slot="hands.handSetA.primary empty">
              <div class="item" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Primary Hand</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot secondary" data-slot="hands.handSetA.secondary empty">
              <div class="item" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Secondary Hand</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
          </ul>
        </div>
        <div id="handSetB" class="setContainer">
          <h2>II</h2>
          <ul class="handSet">
            <li class="itemSlot primary" data-slot="hands.handSetB.primary empty">
              <div class="item" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Primary Hand</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot secondary" data-slot="hands.handSetB.secondary empty">
              <div class="item" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Secondary Hand</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
          </ul>
        </div>
        <div id="handSetC" class="setContainer">
          <h2>III</h2>
          <ul class="handSet">
            <li class="itemSlot primary" data-slot="hands.handSetC.primary empty">
              <div class="item" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Primary Hand</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot secondary" data-slot="hands.handSetC.secondary empty">
              <div class="item" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Secondary Hand</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
          </ul>
        </div>
        <div id="handSetD" class="setContainer">
          <h2>IV</h2>
          <ul class="handSet">
            <li class="itemSlot primary" data-slot="hands.handSetD.primary empty">
              <div class="item" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Primary Hand</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
            <li class="itemSlot secondary" data-slot="hands.handSetD.secondary empty">
              <div class="item" data-item-id="" style="background-image: url();">
                <!-- background-image of equipped item -->
              </div>
              <span class="label">
                <h3>Secondary Hand</h3>
                <p>Drop item to equip</p>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>